!!! 5

%html{:lang => "ja"}
  %head
    %meta{:charset => "UTF-8"}
    %link{ :href => "/favicon.ico", :rel => "icon" }
    = stylesheet_link_tag "tokyo05"
    = stylesheet_link_tag "regional"
    - if @event.css.present?
      %style{:type => "text/css"}= @event.css
    = yield :stylesheet
    = javascript_include_tag ["jquery", "jquery-ui", "jrails", "application"]
    = javascript_include_tag "jquery.simplemodal-1.1.1.pack"
    = javascript_include_tag "login_dialog"
    = yield :javascript
    %title&= page_title

  %body
    = render :partial => "users/user_bar"

    #wrapper
      %header
        = link_to "Regional <strong>Ruby</strong>Kaigi".html_safe, root_path
        %p 2011/02/04 @ EC Navi, Tokyo

      #content
        %article
          - if flash[:error]
            .flash.error= flash[:error]
          - elsif flash[:warn]
            .flash.warn= flash[:warn]
          - elsif flash[:notice]
            .flash.notice= flash[:notice]

          %h3 東京Ruby会議05について

          %p
            東京Ruby会議は東京で5回目の開催となるRegional RubyKaigiです。
            %br
            「もっと会議を、もっと対話を、もっと挑戦を」をテーマとし、より多くのRubyistがしり込みすることなく、
            アクティブにイベントや集まりに参加できるようなきっかけとなるべく、参加者同士の話し合いを中心に据えて、
            知識の伝達、文脈の共有、問題の解決などといったことを企図しています。
            %br
            そこでまず『たのしいRuby』の著者であり、
            日本Rubyの会会長でもある高橋征義さんにRubyのたのしさについてお話していただこうと思います。
            %br
            自分たち東京05のスタッフも含め、まだまだ駆け出しのRubyistはたくさんいるのではないでしょうか。
            高橋さんを囲んで、もっとRubyをたのしみたい！という発展途上なRubyistのみなさま、いっしょにKaigiしに来ませんか？

          %h3 タイムテーブル

          %table#timetable
            %tr
              %th 19:30～20:00
              %td 開場
            %tr
              %th 20:00～20:05
              %td オープニング
            %tr
              %th 20:05～21:00
              %td
                トークセッション
                %br
                語り手 高橋征義さん「Rubyのたのしさについて」
            %tr
              %th 21:10～22:30
              %td テーマトーク
            %tr
              %th 22:30～22:45
              %td クロージング

          %h3 トークセッション

          %p
            『たのしいRuby』の著者であり、日本Rubyの会会長でもある高橋征義さんにRubyのたのしさについてお話していただきます。

          %blockquote
            語り手プロフィール
            %br
            高橋　征義 （たかはし　まさよし）
            %br
            1972年生まれ、札幌出身。2010年4月よりWeb制作の現場を離れ、電子書籍の制作と販売を行う（株）達人出版会を創業。
            と言いつつRails製自社サイトの構築にいそしむ。
            %br
            Rubyを使い始めたのは1997年ごろから。2005年より「日本Rubyの会」会長を務める。
            著書に『たのしいRuby』『Railsレシピブック』（共著含む）等。
            %br
            好きな作家は新井素子。


          %h3 テーマトーク

          %p
            テーブルごとに様々なテーマを用意します。ご自分の興味のあるテーブルに着席して存分に語り合ってください。
            「Rubyってなにそれ、おいしいの？」から「仕事でRubyを使うようにするにはどうすればいい？」まで、
            普段疑問に感じていることを解決しましょう。

          - if @event.desc.present?
            = render_hiki(@event.desc)

          %h3 お問い合わせ
          %p
            == #{@event.title}に関するお問い合わせは、#{@event.contact_email.gsub(/@/, ' _at_ ')}までメールにてご連絡ください。


        %aside
          %h2 REGISTER
          - if @event.expired?
            .detail
              = render_hiki(@event.message_of_the_day_after)
          - else
            .detail
              = render_registration_link(:span)

          %h2 DATE
          .detail 2011年2月4日(金)の夜

          %h2 ACCESS
          .detail
            = link_to "株式会社ECナビ", "http://ecnavi.co.jp/company/access.html"
            %br
            %p 最寄り駅 JR・東京メトロ 渋谷駅 / 京王井の頭線 神泉駅

          %h2 TAGS
          .detail
            Twitter:
            = link_to "#tork05", "http://twitter.com/#search?q=%23tork05"
            %br
            Blog: tokyorubykaigi05

          %h2 STAFF
          .detail
            実行委員長: こしばとしあき
            %br
            副実行委員長: 櫻井達生
            %br
            池田 正人
            %br
            岩本 政樹
            %br
            伊藤ジュンイチ

      %footer
        &copy 2010 東京Ruby会議05実行委員会
        %p Template Design by <a href="http://www.jabz.info/contact/jonas-jared-jacek/" title="Profile of Jonas Jacek">Jonas Jacek</a>

        - if !@event.published? && logged_in_as_admin?
          .admin_notice 現在、この画面は管理者にしか見えません。

        :javascript
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

        :javascript
          var pageTracker = _gat._getTracker("UA-56065-3");
          pageTracker._trackPageview();
