-# -*- coding: utf-8 -*-
!!!5

%html
  %head
    %meta(charset="utf-8")
    %link{ :href => "/favicon.ico", :rel => "icon" }
    != stylesheet_link_tag "application"
    = yield :css
    != javascript_include_tag "application"
    = yield :javascript
    %title Admin

  %body
    #wrapper
      #container= yield

      #footer
        %hr
        = link_to 'Top', root_path
